@media (max-width: 767px) {
    .container {
        width: 90%;
    }
    .promo {
    background-attachment: fixed;
    }
    .header__logo {
        width: 200px;
    }
    .header__phone {
        font-size: 16px;
    }
    .promo__header {
        font-size: 30px;
    }
    .promo__subheader {
        font-size: 18px;
    }
    .carousel {
        margin: 0 30px;
    }
    .tns-item {
        img {
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    }  
}
@media (max-width: 575px) {
    .container {
        width: 75%;
    }
    .header__official {
        span {
            font-size: 14px;
        }
    }
    .header__phone {
        font-size: 12px;
    }
    .button {
        width: 107px;
        height: 30px;
        font-size: 10px;
    }
    .header__logo {
        width: 120px;
    }
    .promo__header {
        font-size: 25px;
        line-height: 25px;
    }
    .promo__subheader {
        font-size: 14px;
        line-height: 14px;
    }
    .button_main {
        margin-top: 47px;
        width: 200px;
        height: 50px;
        font-size: 14px;
    }
    .advantages {
        padding: 60px 0 70px 0;
    }
    .advantages__descr {
        margin-top: 14px;
        font-size: 11px;
        text-align: inherit;
        padding: 0 10px;
    }
    .advantages__subtitle {
        margin-top: 13px;
        font-size: 12px;
    }
    .advantages__wrapper {
        margin-top: 20px;
    }
    .carousel {
        margin: 0 30px;
    }
    .tns-item {
        img {
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    }  
}
@media (max-width: 375px) {
  
    .header__logo {
        width: 100px;
    }
    .header__official {
        font-size: 9px;
    }
    .header__phone {
        font-size: 10px;
    }
    .button {
        width: 94px;
        height: 30px;
        font-size: 8px;
    }
    .header__official {
        span {
            font-size: 11px;
        }
    }    
    .promo__header {
        font-size: 18px;
        line-height: 18px;
    }
    .promo__subheader {
        font-size: 10px;
        line-height: 10px;
    }
    .promo__icons {
        margin-top: 52px;
        width: 272px;
    }
    .promo__icon {
        width: 35px;
        font-size: 10px;
    }
    .promo__icon img {
        width: 30px;
    }
    .title {
        font-size: 21px;
    }
    img.advantages__icon {
        width: 45px;
    }
    .advantages__descr {
        font-size: 9px;
        padding: 0 5px;
    }
    .promo {
        min-height: 550px;
    }
    .carousel {
        margin: 0 30px;
    }
    .tns-item {
        img {
            display: block;
            margin: 0 auto;
            width: 100%;
        }
    }    
}